<div
  class="SearchWrapper"
  [ngClass]="{ BackgroundSearchDirty: UserInformation.length > 0 }"
>
  <h1 class="mb-4">
    <span class="firstWord">Timeline</span>
    <span class="secondWord"> Github </span>
  </h1>
  <div class="InputGroup">
    <input
      class="InputSearch"
      type="text"
      [formControl]="user"
      placeholder="Start searching on github.com"
      autocomplete="off"
    />
    <i class="fas fa-search"></i>
  </div>
</div>

<ng-container *ngIf="UserInformation.length > 0">
  <div class="container mt-3">
    <div class="card-columns">
      <div
        class="card fadeIn CursorHand text-white p-3"
        *ngFor="let user of UserInformation"
        (click)="GotoRepo(user.repos_url, user.login, user.avatar_url)"
      >
        <div class="card-body">
          <h2 class="card-title">{{ user?.login | titlecase | slice: 0:2 }}</h2>
          <h3>GITHUB USER</h3>
          <div class="UserAvatar">
            <img [src]="user.avatar_url" alt="" />
            <h5 class="card-title">@{{ user.login | lowercase }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
